# prevent inheritance rules from blocking or redirecting .well-known files

<IfModule mod_rewrite.c>
        RewriteEngine On
</IfModule>

<IfModule mod_authz_core.c>
        Require all granted
</IfModule>
<IfModule !mod_authz_core.c>
        Order allow,deny
</IfModule>
